* {padding:0;margin:0;font-family:Arial, Helvetica, sans-serif}
form {width:100w;height:100vh;display:flex;align-items:center;justify-content:center}
form > div {display:flex;flex-direction:column;text-align:right}
label {width:100%;display:grid;grid-template-columns:auto auto;align-items:center;justify-content:space-between;grid-column-gap:0.6rem;text-align:right}
label:not(:first-of-type) {margin-top:1rem}